::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(17, 13, 35);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2929;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
body {
  min-height: 100vh;
}

.trans {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  max-width: 1196px !important;
  width: 100% !important;
  margin: 0 auto !important;
}

.heading {
  color: #176B87;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.title-blue {
  color: rgba(23, 107, 135, 0.8);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title-black {
  color: #323232;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}

.btn-blue {
  padding: 12px 35px;
  border-radius: 5px;
  background: #176B87;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-blue:hover {
  background: #33b3dc;
}

.modal-dialog-form {
  max-width: 867px;
}
.modal-dialog-form .modal-form {
  width: 100%;
  padding: 0 0 40px 0;
  text-align: center;
}
.modal-dialog-form .modal-form .modal-header {
  border: none;
}
.modal-dialog-form .modal-form .modal-body-form .modal-form-heading {
  color: #000;
  text-align: center;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.modal-dialog-form .modal-form .modal-body-form .modal-form-title {
  color: #000;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.4px;
}
.modal-dialog-form .modal-form .modal-body-form .input-box {
  margin-bottom: 21px;
  width: 100%;
}
.modal-dialog-form .modal-form .modal-body-form .input-box span {
  color: #323232;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-bottom: 10px;
  display: block;
}
.modal-dialog-form .modal-form .modal-body-form .input-box input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #176B87;
  padding: 10px;
  color: #333;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
}
.modal-dialog-form .modal-form .modal-body-form .input-box input::placeholder {
  color: #DFDBDB;
}
@media (max-width: 576px) {
  .modal-dialog-form .modal-form .modal-body-form .input-box input {
    width: 100%;
  }
}

.modal-full-dialog {
  background: #fff;
}
.modal-full-dialog .modal-full-content .modal-header {
  border: none;
}
.modal-full-dialog .modal-full-content .modal-body-full .modal-heading {
  color: #000;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 35px;
}
.modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item {
  border-radius: 3px !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  background: #FFF !important;
  margin-bottom: 15px !important;
}
.modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-header .accordion-button .btn-img {
  color: #323232;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
}
.modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-header .accordion-button .btn-img img {
  margin-right: 20px;
}
.modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-body .inner .modal-title {
  color: #323232;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
  max-width: 800px;
}
.modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-body .inner .box {
  margin-bottom: 25px;
}
.modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-body .inner .box .box-title {
  color: #323232;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
}
.modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-body .inner .box .box-sub-title {
  display: block;
  color: #323232;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}
.modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-body .inner .box:last-child {
  margin-bottom: 0;
}
.modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-body .inner .buttons {
  display: flex;
}
@media (max-width: 425px) {
  .modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-body .inner .buttons {
    display: block;
    width: 100%;
  }
}
@media (max-width: 425px) {
  .modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-body .inner .buttons .btn-blue {
    display: block;
    width: 100%;
  }
}
.modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-body .inner .buttons .btn-blue img {
  margin-left: 10px;
}
.modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-body .inner .buttons .btn-green {
  margin-right: 20px;
  background: #4BCA1E;
}
@media (max-width: 425px) {
  .modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-body .inner .buttons .btn-green {
    margin-bottom: 20px;
  }
}
.modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-body .inner .buttons .btn-green img {
  margin: 0;
  margin-right: 10px;
}
.modal-full-dialog .modal-full-content .modal-body-full .accordion .accordion-item .accordion-body .inner .buttons .btn-green:hover {
  background: #4a8a35;
}

.modal-info-block .modal-body-info .modal-headingg {
  margin-bottom: 20px;
  color: #000;
  font-weight: 400;
  font-size: 3rem;
  line-height: normal;
}
@media (max-width: 425px) {
  .modal-info-block .modal-body-info .modal-headingg {
    font-size: 34px;
  }
}
.modal-info-block .modal-body-info .box-subtitle {
  color: #323232;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modal-info-block .modal-body-info span {
  color: #323232;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.modal-info-block .modal-body-info h4 {
  color: #323232;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.modal-info-block .modal-body-info .box-title {
  color: #323232;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modal-info-block .modal-body-info .box2-title {
  color: #323232;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modal-info-block .modal-body-info .buttons {
  display: flex;
  margin-bottom: 50px;
}
@media (max-width: 425px) {
  .modal-info-block .modal-body-info .buttons {
    display: block;
    width: 100%;
  }
}
.modal-info-block .modal-body-info .buttons .btn-green {
  margin-right: 15px;
  background: #4BCA1E;
}
@media (max-width: 425px) {
  .modal-info-block .modal-body-info .buttons .btn-green {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.modal-info-block .modal-body-info .buttons .btn-green img {
  margin-right: 10px;
}
@media (max-width: 425px) {
  .modal-info-block .modal-body-info .buttons .btn-blue {
    display: block;
    width: 100%;
  }
}
.modal-info-block .modal-body-info .buttons .btn-blue img {
  margin-left: 10px;
}
.modal-info-block .modal-body-info .box-image {
  width: 100%;
  height: 100%;
}
.modal-info-block .modal-body-info .box-image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.btn-fix-call {
  position: fixed;
  min-inline-size: 40px;
  height: 40px;
  border-radius: 1.875rem;
  background: #03A0D1;
  color: #fff;
  right: 30px;
  bottom: 30px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: play 2s ease infinite;
  z-index: 100;
}
.btn-fix-call.active {
  background: #03A0D1;
  right: 78px;
  border: 0;
  color: #fff;
}
.btn-fix-call:hover {
  color: #fff;
  background: #03A0D1;
}
.btn-fix-call:hover span {
  max-width: 200px;
  margin-left: 5px;
}
.btn-fix-call i {
  transition: 0.3s;
  animation: call 2s infinite;
}
.btn-fix-call span {
  transition: 0.3s;
  max-width: 0;
  overflow: hidden;
  display: block;
  margin-left: 0;
}

@keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 5px rgba(3, 160, 209, 0.4);
  }
  25% {
    box-shadow: 0 0 0 10px rgba(3, 160, 209, 0.4), 0 0 0 20px rgba(3, 160, 209, 0.2);
  }
  25% {
    box-shadow: 0 0 0 15px rgba(3, 160, 209, 0.4), 0 0 0 30px rgba(3, 160, 209, 0.2);
  }
}
@keyframes call {
  2.5% {
    transform: translateX(0%);
  }
  5% {
    transform: translateX(-30%);
  }
  7.5% {
    transform: translateX(30%);
  }
  10% {
    transform: translateX(10%);
  }
  15% {
    transform: translateX(-10%);
  }
  20% {
    transform: translateX(5%);
  }
}
.btn-fix-top {
  position: fixed;
  border-radius: 1.875rem;
  font-size: 34px;
  z-index: 100;
  color: #03A0D1;
  right: 24px;
  bottom: 20px;
}

.mobile-menu-board {
  width: 30px;
  height: 40px;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 767px) {
  .mobile-menu-board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.mobile-menu-board.active span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
}

.mobile-menu-board.active span:nth-of-type(2) {
  opacity: 0;
}

.mobile-menu-board.active span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -10px;
}

.mobile-menu-board span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  margin-bottom: 8px;
  background-color: #fff;
  position: relative;
}

.mobile-menu-board span:last-child {
  margin: 0;
}

.mobile-menu-board span:nth-of-type(1) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 0;
}

.mobile-menu-board span:nth-of-type(2) {
  opacity: 1;
}

.mobile-menu-board span:nth-of-type(3) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 0;
}

.menu {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 82px;
  border-radius: 0 0 30px 30px;
  background: rgba(0, 28, 48, 0.7);
  backdrop-filter: blur(5px);
}
@media (max-width: 767px) {
  .menu {
    border-radius: 0;
  }
}
.menu .menu-bar {
  max-width: 953px;
  width: 100%;
  padding: 10px 30px;
  margin: 0 auto;
}
@media (max-width: 976px) {
  .menu .menu-bar {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .menu .menu-bar {
    max-width: 100%;
    padding: 10px 15px;
  }
}
.menu .menu-bar .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .menu .menu-bar .menu-item {
    display: none;
  }
}
.menu .menu-bar .menu-item a {
  color: #FFF;
  white-space: nowrap;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-right: 5.625rem;
}
.menu .menu-bar .menu-item a:hover {
  color: #FB9C2A;
  transition: 0.2s;
}
.menu .menu-bar .menu-item a:last-child {
  margin-right: 0;
}
.menu .menu-bar .menu-mobile {
  position: relative;
  display: none;
}
@media (max-width: 767px) {
  .menu .menu-bar .menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu .menu-bar .menu-item-mobile {
  display: none;
}
@media (max-width: 767px) {
  .menu .menu-bar .menu-item-mobile {
    display: initial;
    z-index: 1000;
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    height: 100vh;
    background: rgba(0, 28, 48, 0.8);
    backdrop-filter: blur(4px);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.3s;
  }
}
.menu .menu-bar .menu-item-mobile .menu-item-mobile-teg {
  display: block;
  color: #fff;
  text-align: center;
  margin: 15px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.menu .menu-bar .menu-item-mobile.active {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  transition: 0.3s;
}
.menu .menu-bar .menu-item-mobile .contact-block {
  padding: 50px 20px 0 20px;
}
.menu .menu-bar .menu-item-mobile .contact-block div {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 24px;
}
.menu .menu-bar .menu-item-mobile .contact-block div i {
  font-size: 30px;
  margin-right: 10px;
}
@media (max-width: 400px) {
  .menu .menu-bar .menu-item-mobile .contact-block .btn-blue {
    width: 100%;
  }
}
.menu .menu-bar .menu-item-mobile .contact-block .btn-blue img {
  margin-left: 10px;
}

header .header-coontainer {
  position: relative;
  min-height: 80vh !important;
  display: flex;
  justify-content: end;
  overflow-y: hidden;
}
header .header-coontainer .header-info {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 730px;
  width: 100%;
  z-index: 5;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(3px);
  padding: 190px 50px 150px 122px;
}
@media (max-width: 767px) {
  header .header-coontainer .header-info {
    padding: 150px 40px 110px 110px;
  }
}
@media (max-width: 576px) {
  header .header-coontainer .header-info {
    padding: 120px 20px 60px 20px;
  }
}
@media (max-width: 576px) {
  header .header-coontainer .header-info .heading {
    font-size: 2.3rem;
  }
}
header .header-coontainer .header-info .title-blue {
  margin-top: 20px;
}
header .header-coontainer .header-info .contact-block {
  margin-top: 23px;
}
header .header-coontainer .header-info .contact-block div {
  color: #176B87;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 20px;
}
header .header-coontainer .header-info .contact-block div:last-child {
  margin-bottom: 0;
}
header .header-coontainer .header-info .contact-block div i {
  font-size: 26px;
  margin-right: 12px;
}
header .header-coontainer .header-info .btn-blue {
  margin-top: 23px;
}
header .header-coontainer .header-info .btn-blue img {
  margin-left: 10px;
}
header .header-coontainer .header-info .btn-blue:hover {
  background: #33b3dc;
}
header .header-coontainer .header-image {
  height: 800px;
  position: relative;
}
header .header-coontainer .header-image img {
  height: 800px !important;
}
header .header-coontainer .header-image .slider-image {
  transition: 0.3s;
  display: none;
}
header .header-coontainer .header-image .slider-image.active {
  display: initial;
}
header .header-coontainer .header-image .slider-icon {
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
  left: 55%;
  transform: translateX(-55%);
}
@media (max-width: 1400px) {
  header .header-coontainer .header-image .slider-icon {
    left: 65%;
  }
}
@media (max-width: 1280px) {
  header .header-coontainer .header-image .slider-icon {
    left: 70%;
  }
}
@media (max-width: 1200px) {
  header .header-coontainer .header-image .slider-icon {
    left: 75%;
  }
}
@media (max-width: 1100px) {
  header .header-coontainer .header-image .slider-icon {
    display: none;
  }
}
header .header-coontainer .header-image .slider-icon i {
  font-size: 50px;
  cursor: pointer;
  color: #fff;
  position: relative;
  left: -250px;
}
@media (max-width: 1400px) {
  header .header-coontainer .header-image .slider-icon i {
    left: -120px;
  }
}
@media (max-width: 1280px) {
  header .header-coontainer .header-image .slider-icon i {
    left: -100px;
  }
}
@media (max-width: 1200px) {
  header .header-coontainer .header-image .slider-icon i {
    left: -80px;
  }
}
header .header-coontainer .header-image .slider-icon i:last-child {
  left: 290px;
}
@media (max-width: 1400px) {
  header .header-coontainer .header-image .slider-icon i:last-child {
    left: 200px;
  }
}
@media (max-width: 1280px) {
  header .header-coontainer .header-image .slider-icon i:last-child {
    left: 150px;
  }
}
@media (max-width: 1200px) {
  header .header-coontainer .header-image .slider-icon i:last-child {
    left: 100px;
  }
}
header .header-coontainer .header-image .slider-icon .slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-coontainer .header-image .slider-icon .slider-buttons .icons {
  margin-right: 10px;
  background: #fff;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-coontainer .header-image .slider-icon .slider-buttons .icons:last-child {
  margin-right: 0;
}
header .header-coontainer .header-image .slider-icon .slider-buttons .icons .icon-item {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  display: block;
  cursor: pointer;
}
header .header-coontainer .header-image .slider-icon .slider-buttons .icons .icon-item.active {
  background: #42622F;
}

.cards {
  margin-top: 100px;
}
@media (max-width: 767px) {
  .cards {
    margin-top: 60px;
  }
}
.cards .cards-container .cards-description {
  position: relative;
  padding-bottom: 60px;
}
.cards .cards-container .cards-description .heading {
  text-align: center;
}
.cards .cards-container .cards-description .title-blue {
  text-align: center;
}
@media (max-width: 576px) {
  .cards .cards-container .cards-description .title-dekctop {
    display: none;
  }
}
.cards .cards-container .cards-description .title-mobile {
  display: none;
  position: relative;
}
@media (max-width: 576px) {
  .cards .cards-container .cards-description .title-mobile {
    display: block;
  }
}
.cards .cards-container .cards-description .title-mobile.text:after {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -63.41%, #FFFFFF 100%);
}
.cards .cards-container .cards-description #myBtn {
  display: none;
  color: #323232;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  background: none;
  position: relative;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
  margin-top: 1.5625rem;
}
@media (max-width: 576px) {
  .cards .cards-container .cards-description #myBtn {
    display: block;
  }
}
.cards .cards-container .cards-description #more {
  display: none;
}
.cards .cards-container .card {
  width: 100%;
  border-radius: 20px;
  background: #176B87;
  padding: 35px;
  margin-bottom: 25px;
}
.cards .cards-container .card:last-child {
  margin-bottom: 0;
}
.cards .cards-container .card:hover {
  background: #1E87AA;
  transition: 0.3s;
}
@media (max-width: 576px) {
  .cards .cards-container .card {
    padding: 20px;
  }
}
.cards .cards-container .card .inner {
  display: flex;
}
@media (max-width: 767px) {
  .cards .cards-container .card .inner {
    display: block;
  }
}
.cards .cards-container .card .inner .image {
  margin-right: 1.5625rem;
}
@media (max-width: 576px) {
  .cards .cards-container .card .inner .image {
    margin-right: 0;
    width: 100%;
  }
  .cards .cards-container .card .inner .image img {
    object-fit: cover;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .cards .cards-container .card .inner .description {
    margin-top: 20px;
  }
}
.cards .cards-container .card .inner .description h2 {
  color: #FFF;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps;
}
.cards .cards-container .card .inner .description p {
  color: rgba(255, 255, 255, 0.72);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 593px;
  width: 100%;
  margin-top: -3px;
}
@media (max-width: 576px) {
  .cards .cards-container .card .inner .description p {
    margin-top: 3px;
    max-width: 100%;
  }
}
.cards .cards-container .card .inner .description .buttons {
  display: flex;
  align-items: center;
  margin-top: -5px;
}
@media (max-width: 576px) {
  .cards .cards-container .card .inner .description .buttons {
    margin-top: 20px;
    display: block;
    width: 100%;
  }
}
.cards .cards-container .card .inner .description .buttons a {
  margin-right: 20px;
  display: block;
}
@media (max-width: 576px) {
  .cards .cards-container .card .inner .description .buttons a {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .cards .cards-container .card .inner .description .buttons a:last-child {
    margin-bottom: 0;
  }
}
.cards .cards-container .card .inner .description .buttons a:last-child {
  margin-right: 0;
}
.cards .cards-container .card .inner .description .buttons .btn-card {
  color: #176B87;
  background: #fff;
}
@media (max-width: 576px) {
  .cards .cards-container .card .inner .description .buttons .btn-card {
    width: 100%;
  }
}
.cards .cards-container .card .inner .description .buttons .btn-card:hover {
  background: #b5e1ec;
}
.cards .cards-container .card .inner .description .buttons .btn-card img {
  margin-left: 10px;
}
.cards .cards-container .card .tree {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: rgba(255, 255, 255, 0.72);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.calculator {
  margin-top: 91px;
}
@media (max-width: 767px) {
  .calculator {
    margin-top: 73px;
  }
}
.calculator .container-calculator .heading {
  text-align: center;
  margin-bottom: 23px;
}
.calculator .container-calculator .calculator-background {
  border-radius: 1.25rem;
  background: #176B87;
  padding: 29px 23px;
}
@media (max-width: 576px) {
  .calculator .container-calculator .calculator-background {
    padding: 12px 10px;
  }
}
.calculator .container-calculator .calculator-background .calculator-form {
  background: #fff;
  width: 100%;
  border-radius: 0.3125rem;
  border: 1px solid #176B87;
  padding: 1.25rem 0 4.375rem 0;
}
@media (max-width: 767px) {
  .calculator .container-calculator .calculator-background .calculator-form {
    padding: 1.25rem 0.625rem 1.875rem 0.625rem;
  }
}
.calculator .container-calculator .calculator-background .calculator-form .calculator-title {
  padding: 0 110px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1100px) {
  .calculator .container-calculator .calculator-background .calculator-form .calculator-title {
    padding: 0 100px;
  }
}
@media (max-width: 767px) {
  .calculator .container-calculator .calculator-background .calculator-form .calculator-title {
    padding: 0 30px;
  }
}
@media (max-width: 576px) {
  .calculator .container-calculator .calculator-background .calculator-form .calculator-title {
    padding: 0 5px;
  }
}
@media (max-width: 370px) {
  .calculator .container-calculator .calculator-background .calculator-form .calculator-title {
    padding: 0;
  }
}
.calculator .container-calculator .calculator-background .calculator-form .inner {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .calculator .container-calculator .calculator-background .calculator-form .inner {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
}
.calculator .container-calculator .calculator-background .calculator-form .inner .form {
  margin-right: 75px;
}
@media (max-width: 1100px) {
  .calculator .container-calculator .calculator-background .calculator-form .inner .form {
    margin-right: 0;
    margin-top: 40px;
  }
}
@media (max-width: 576px) {
  .calculator .container-calculator .calculator-background .calculator-form .inner .form {
    width: 100%;
  }
}
.calculator .container-calculator .calculator-background .calculator-form .inner .form .input-box {
  margin-bottom: 21px;
}
.calculator .container-calculator .calculator-background .calculator-form .inner .form .input-box h5 {
  color: #323232;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.calculator .container-calculator .calculator-background .calculator-form .inner .form .input-box input {
  border-radius: 5px;
  border: 1px solid #176B87;
  width: 357px;
  padding: 10px;
  color: #333;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.calculator .container-calculator .calculator-background .calculator-form .inner .form .input-box input::placeholder {
  color: #DFDBDB;
}
@media (max-width: 576px) {
  .calculator .container-calculator .calculator-background .calculator-form .inner .form .input-box input {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .calculator .container-calculator .calculator-background .calculator-form .inner .form .buttons {
    width: 100%;
    display: block;
  }
}
@media (max-width: 576px) {
  .calculator .container-calculator .calculator-background .calculator-form .inner .form .buttons .btn-form {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .calculator .container-calculator .calculator-background .calculator-form .inner .image {
    width: 100%;
  }
  .calculator .container-calculator .calculator-background .calculator-form .inner .image img {
    width: 100%;
    object-fit: cover;
  }
}

.about {
  margin-top: 65px;
  min-height: 50vh;
  position: relative;
  overflow: hidden;
}
@media (max-width: 576px) {
  .about {
    min-height: 75vh;
  }
}
@media (max-width: 375px) {
  .about {
    min-height: 100vh;
  }
}
.about .image {
  height: 100%;
}
.about .about-info {
  max-width: 811px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
  padding: 52px 30px 0 50px;
}
@media (max-width: 576px) {
  .about .about-info {
    padding: 52px 20px 0 20px;
  }
}
.about .about-info .heading {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .about .about-info .heading {
    text-align: center;
  }
}
.about .about-info .title-blue {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .about .about-info .title-blue {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .about .about-info .buttons {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .about .about-info .buttons .btn-about {
    margin: 0 auto;
  }
}

.outWork {
  margin-top: 43px;
  overflow: hidden;
}
.outWork .outWork-container .heading {
  text-align: center;
  margin-bottom: 40px;
}
.outWork .outWork-container .slider .slick-track {
  display: flex;
}
.outWork .outWork-container .slider .slick-track .slick-slide {
  width: 223px !important;
  height: 191px !important;
  border-radius: 20px !important;
  margin-right: 20px !important;
  cursor: pointer;
}
@media (max-width: 767px) {
  .outWork .outWork-container .slider .slick-track .slick-slide {
    margin-right: 10px !important;
  }
}
.outWork .outWork-container .slider .slick-track .slick-slide:last-child {
  margin-right: 0 !important;
}
.outWork .outWork-container .slider .slick-track .slick-slide img {
  width: 100% !important;
  border-radius: 20px !important;
  height: 100% !important;
  object-fit: cover !important;
}
.outWork .outWork-container .slider .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.outWork .outWork-container .slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  padding: 0;
  background: rgba(23, 107, 135, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.outWork .outWork-container .slider .slick-dots li.slick-active {
  background: #176B87;
}
.outWork .outWork-container .slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 14px;
  height: 14px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.outWork .outWork-container .slider .slick-dots li button:before {
  opacity: 0.75;
  color: #FF6900;
}
.outWork .outWork-container .slider .slick-dots li.slick-active button:before {
  opacity: 0.75 !important;
  color: #FF6900 !important;
}

.slick-next {
  background-color: #176B87 !important;
  width: 60px !important;
  height: 60px !important;
  display: inline-block;
  position: absolute;
  top: 50% !important;
  transform: translateY(-70%);
  right: -30px;
  border-radius: 50% !important;
  padding: 5px !important;
  font-size: 0;
}
.slick-next:before {
  content: "\f054";
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
}
@media (max-width: 1200px) {
  .slick-next {
    right: -5px;
  }
}
@media (max-width: 1024px) {
  .slick-next {
    right: -2px;
  }
}
@media (max-width: 768px) {
  .slick-next {
    right: 0;
    width: 40px !important;
    height: 40px !important;
  }
}
@media (max-width: 425px) {
  .slick-next {
    right: 5px;
  }
}

.slick-prev {
  background-color: #176B87 !important;
  width: 60px !important;
  height: 60px !important;
  display: inline-block;
  position: absolute !important;
  left: -30px !important;
  top: 50% !important;
  transform: translateY(-70%);
  border-radius: 50% !important;
  padding: 5px !important;
  z-index: 32;
  font-size: 0;
}
.slick-prev:before {
  content: "\f104";
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
}
@media (max-width: 1200px) {
  .slick-prev {
    left: -5px !important;
  }
}
@media (max-width: 1024px) {
  .slick-prev {
    left: -2px !important;
  }
}
@media (max-width: 768px) {
  .slick-prev {
    left: 0 !important;
    width: 40px !important;
    height: 40px !important;
  }
}
@media (max-width: 425px) {
  .slick-prev {
    left: 5px !important;
  }
}

#work-for-etaps .slick-list {
  padding-top: 50px;
}
#work-for-etaps .slick-dots {
  display: none !important;
}
#work-for-etaps .slick-prev {
  top: 5px !important;
  left: 10px !important;
  width: 50px !important;
  height: 50px !important;
}
#work-for-etaps .slick-next {
  top: 5px !important;
  right: 10px !important;
  width: 50px !important;
  height: 50px !important;
}

.payment {
  margin-top: 150px;
}
@media (max-width: 767px) {
  .payment {
    margin-top: 75px;
  }
}
.payment .container-payment .heading {
  text-align: center;
}
.payment .container-payment .inner {
  display: flex;
  margin-top: 44px;
}
@media (max-width: 767px) {
  .payment .container-payment .inner {
    display: block;
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .payment .container-payment .inner .image {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .payment .container-payment .inner .image img {
    width: 100%;
  }
}
.payment .container-payment .inner .payment-info {
  margin-left: 45px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .payment .container-payment .inner .payment-info {
    margin-left: 0;
    margin-top: 23px;
  }
}
.payment .container-payment .inner .payment-info .title-blue {
  margin-bottom: 2rem;
}
.payment .container-payment .inner .payment-info .buttons .btn-payment img {
  margin-left: 10px;
}

.work-etaps {
  margin-top: 108px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .work-etaps {
    margin-top: 65px;
  }
}
@media (max-width: 768px) {
  .work-etaps .work-etaps-container {
    padding: 0 30px;
  }
}
.work-etaps .work-etaps-container .heading {
  text-align: center;
  margin-bottom: 62px;
}
.work-etaps .work-etaps-container .work-etaps-item {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #176B87;
  background: #FFF;
  padding: 58px 0 10px 0;
  position: relative;
}
.work-etaps .work-etaps-container .work-etaps-item .logo {
  width: 170px;
  height: 78px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -39px;
  background: url("../assets/image/logo-work-etaps.svg") no-repeat center;
  background-size: contain;
}
.work-etaps .work-etaps-container .work-etaps-item .image {
  margin: 0 auto;
  width: 174px;
}
.work-etaps .work-etaps-container .work-etaps-item .image img {
  width: 100%;
}
.work-etaps .work-etaps-container .work-etaps-item h4 {
  color: #323232;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  margin: 40px 0;
}
.work-etaps .work-etaps-container .work-etaps-item p {
  padding: 0 35px;
  color: #323232;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}
@media (max-width: 1024px) {
  .work-etaps .work-etaps-container .work-etaps-item p {
    padding: 0 15px;
  }
}

.calculation .container-calculation .heading {
  text-align: center;
}
.calculation .container-calculation .subtitle {
  color: #323232;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Our_all_services {
  margin-top: 115px;
}
@media (max-width: 768px) {
  .Our_all_services {
    margin-top: 90px;
  }
}
.Our_all_services .container-Our_all_services .heading {
  text-align: center;
}
.Our_all_services .container-Our_all_services .title-black {
  text-align: center;
  margin-bottom: 60px;
}
.Our_all_services .container-Our_all_services .inner .Our_all_services-box {
  width: 100%;
  border: 1px solid rgba(23, 107, 135, 0.2);
  border-radius: 20px;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .Our_all_services .container-Our_all_services .inner .Our_all_services-box {
    margin-bottom: 20px;
  }
}
.Our_all_services .container-Our_all_services .inner .Our_all_services-box:hover {
  background: #176B87;
}
.Our_all_services .container-Our_all_services .inner .Our_all_services-box:hover .our-service-headingg {
  color: #fff !important;
}
.Our_all_services .container-Our_all_services .inner .Our_all_services-box:hover .our-service-title {
  color: #fff !important;
}
.Our_all_services .container-Our_all_services .inner .Our_all_services-box .image {
  width: 100%;
}
.Our_all_services .container-Our_all_services .inner .Our_all_services-box .image img {
  object-fit: cover;
  width: 100%;
}
.Our_all_services .container-Our_all_services .inner .Our_all_services-box .text-blok {
  padding: 0 15px;
}
.Our_all_services .container-Our_all_services .inner .Our_all_services-box .text-blok .our-service-headingg {
  color: #323232;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin: 15px 0;
}
.Our_all_services .container-Our_all_services .inner .Our_all_services-box .text-blok .our-service-title {
  color: #323232;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Our_all_services .container-Our_all_services .inner .Our_all_services-box .text-blok .buttons {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
@media (max-width: 576px) {
  .Our_all_services .container-Our_all_services .inner .Our_all_services-box .text-blok .buttons {
    width: 100%;
    display: block;
  }
}
.Our_all_services .container-Our_all_services .inner .Our_all_services-box .text-blok .buttons .btn-green {
  background: #4BCA1E;
}
@media (max-width: 576px) {
  .Our_all_services .container-Our_all_services .inner .Our_all_services-box .text-blok .buttons .btn-green {
    width: 100%;
  }
}
.Our_all_services .container-Our_all_services .inner .Our_all_services-box .text-blok .buttons .btn-green img {
  margin-right: 15px;
}

.map {
  margin-top: 82px;
}
@media (max-width: 767px) {
  .map {
    margin-top: 75px;
  }
}
.map .heading {
  text-align: center;
  margin-bottom: 41px;
}
.map .container-map {
  min-height: 70vh;
  position: relative;
}
.map .container-map .contact {
  max-width: 600px;
  width: 100%;
  height: 100%;
  background: rgba(23, 107, 135, 0.7);
  backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
@media (max-width: 576px) {
  .map .container-map .contact {
    display: none;
  }
}
.map .container-map .contact h4 {
  text-align: center;
  margin-top: 50px;
  color: #FFF;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.map .container-map .contact .numbers {
  padding: 40px 0 0 70px;
}
.map .container-map .contact .numbers span {
  display: block;
  color: #FFF;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  margin-bottom: 25px;
}
.map .container-map .contact .numbers a {
  display: block;
  margin-left: 5px;
  margin-bottom: 25px;
}
.map .container-map .contact .numbers a:last-child {
  margin-bottom: 0;
}
.map .container-map .contact .numbers a span {
  color: #FFF;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}
.map .container-map .contact .numbers a span img {
  margin-right: 10px;
}
@media (max-width: 576px) {
  .map .container-map .inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.map .container-map .inner .contacts-mobile {
  display: none;
  padding: 0 10px;
}
@media (max-width: 576px) {
  .map .container-map .inner .contacts-mobile {
    display: block;
    background: rgba(23, 107, 135, 0.7);
    backdrop-filter: blur(5px);
  }
}
.map .container-map .inner .contacts-mobile .numbers {
  padding: 51px 0 0 0;
  text-align: center;
}
.map .container-map .inner .contacts-mobile .numbers span {
  display: block;
  color: #FFF;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  margin-bottom: 25px;
}
.map .container-map .inner .contacts-mobile .numbers a {
  display: block;
  margin-left: 5px;
  margin-bottom: 25px;
}
.map .container-map .inner .contacts-mobile .numbers a:last-child {
  margin-bottom: 0;
}
.map .container-map .inner .contacts-mobile .numbers a span {
  color: #FFF;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}
.map .container-map .inner .contacts-mobile .numbers a span img {
  margin-right: 10px;
}
.map .container-map .inner .contacts-mobile .buttons {
  margin-top: 47px;
  width: 100%;
  margin-bottom: 35px;
  display: block;
}
.map .container-map .inner .contacts-mobile .buttons button {
  display: block;
  width: 100%;
}
.map .container-map .inner .contacts-mobile .buttons button img {
  margin-left: 10px;
}
.map .container-map .inner .map-yandex {
  width: 100%;
  height: 100%;
}
.map .inputbox {
  max-width: 350px;
  width: 100%;
}
@media (max-width: 576px) {
  .map .inputbox {
    max-width: 100%;
  }
}
.map .inputbox .form-floating {
  margin: 0 0;
  color: white;
  width: 100%;
}
.map .input-box-title {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.map .form-floating input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 0 !important;
  outline: none !important;
}
.map .form-floating input:focus {
  background: transparent !important;
  border-radius: 0 !important;
  outline: unset !important;
  box-shadow: unset !important;
  color: white !important;
}
.map .form-floating textarea:focus {
  background: transparent !important;
  border-radius: 0 !important;
  outline: unset !important;
  box-shadow: unset !important;
  color: white !important;
}
.map .form-floating label {
  color: #fff !important;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  background-color: transparent !important;
}
.map .form-floating label:after {
  background-color: transparent !important;
  color: #fff !important;
}
.map .inputbox .form-floating label {
  color: white;
}
.map .inputbox .form-floating label::placeholder {
  color: rgba(0, 0, 0, 0);
}
.map .buttons {
  margin-top: 20px;
}
.map .buttons button img {
  margin-left: 10px;
}

footer {
  padding: 29px 0;
  background: #323232;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  footer .footer-container {
    justify-content: center;
    flex-direction: column;
  }
}
footer .footer-container .image1 {
  display: none;
}
@media (max-width: 576px) {
  footer .footer-container .image1 {
    display: block;
  }
}
@media (max-width: 576px) {
  footer .footer-container .image {
    display: none;
  }
}
footer .footer-container h4 {
  color: #FFF;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 576px) {
  footer .footer-container h4 {
    margin: 15px 0 25px 0;
  }
}
footer .footer-container .number a {
  color: #FFF;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}
footer .footer-container .number a img {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
