@import "helper";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(17, 13, 35, 1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2929;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

body {
  min-height: 100vh;
}


.trans {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}

.container{
  max-width: 1196px !important;
  width: 100% !important;
  margin: 0 auto !important;
}

.heading{
  color: #176B87;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title-blue{
  color: rgba(23, 107, 135, 0.80);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title-black{
  color: #323232;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}

.btn-blue{
  padding: 12px 35px;
  border-radius: 5px;
  background: #176B87;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background: #33b3dc;
  }
}



//..................... Menu............

.mobile-menu-board {
  width: 30px;
  height: 40px;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 767px) {
  .mobile-menu-board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.mobile-menu-board.active span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
}
.mobile-menu-board.active span:nth-of-type(2) {
  opacity: 0;
}
.mobile-menu-board.active span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -10px;
}
.mobile-menu-board span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  margin-bottom: 8px;
  background-color: #fff;
  position: relative;
}
.mobile-menu-board span:last-child {
  margin: 0;
}
.mobile-menu-board span:nth-of-type(1) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 0;
}
.mobile-menu-board span:nth-of-type(2) {
  opacity: 1;
}
.mobile-menu-board span:nth-of-type(3) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 0;
}

.menu{
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 82px;
  border-radius: 0 0 30px 30px;
  background: rgba(0, 28, 48, 0.70);
  backdrop-filter: blur(5px);
  @media (max-width: 767px) {
    border-radius: 0;
  }
  .menu-bar{
    max-width: 953px;
    width: 100%;
    padding: 10px 30px;
    margin: 0 auto;
    @media (max-width: 976px) {
      max-width: 100%;
    }
    @media (max-width: 767px) {
        max-width: 100%;
      padding: 10px 15px;
    }


    .menu-item{
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 767px) {
        display: none;
      }
      a{
        color: #FFF;
        white-space: nowrap;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-right: 5.625rem;
        &:hover{
         color: #FB9C2A;
          transition: .2s;
        }
        &:last-child{
          margin-right: 0;
        }

      }

    }

    .menu-mobile{
      position: relative;
      display: none;
      @media (max-width: 767px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      //#menu-bars{
      //  color: #fff;
      //  cursor: pointer;
      //  &:hover{
      //    color: #FB9C2A;
      //    transition: .2s;
      //  }
      //  i{
      //    font-size: 30px;
      //  }
      //
      //}

    }

    .menu-item-mobile{
      display: none;
      @media (max-width: 767px) {
        display: initial;
        z-index: 1000;
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        height: 100vh;
        background: rgba(0, 28, 48, 0.80);
        backdrop-filter: blur(4px);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .3s;
      }
      a{
        display: block;
        color: #fff;
        text-align: center;
        margin: 15px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      &.active{
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
        transition: .3s;
      }
      .contact-block{
        padding: 50px 20px 0 20px;
        div{
          color: #fff;
          cursor: pointer;
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          margin-bottom: 24px;
          i{
            font-size: 30px;
            margin-right: 10px;
          }
        }
        .btn-blue{
          @media (max-width: 400px) {
            width: 100%;
          }
          img{
            margin-left: 10px;
          }
        }
      }
    }

  }

}

///.................. menu-end


////...............header ...........

header{

  .header-coontainer {
    position: relative;
    min-height: 80vh !important;
    display: flex;
    justify-content: end;
    overflow-y: hidden;
    .header-info{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      max-width: 730px;
      width: 100%;
      z-index: 5;
      background: rgba(255, 255, 255, 0.85);
      backdrop-filter: blur(3px);
      padding: 190px 50px 150px 122px;
      @media (max-width: 767px) {
        padding: 150px 40px 110px 110px;
      }
      @media (max-width: 576px) {
        padding: 120px 20px 60px 20px;
      }

      .heading{
        @media (max-width: 576px) {
          font-size: 2.3rem;
        }
      }

      .title-blue{
        margin-top: 20px;
      }

      .contact-block{
        margin-top: 23px;

        div{
          color: #176B87;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          cursor: pointer;
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
          i{
            font-size: 26px;
            margin-right: 12px;
          }
        }

      }

      .btn-blue{
        margin-top: 23px;
        img{
          margin-left: 10px;
        }
        &:hover{
          background: #33b3dc;
        }
      }
    }



    .header-image {
      height: 800px;
      position: relative;
      img{
        height: 800px !important;
      }


      .slider-image{
        transition: .3s;
        display: none;
        //clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        &.active{
          display: initial;
          //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
      }


      .slider-icon{
        position: absolute;
        bottom: 50px;
        display: flex;
        align-items: center;
        left: 55%;
        transform: translateX(-55%);
        @media (max-width: 1400px) {
          left: 65%;
        }
        @media (max-width: 1280px) {
          left: 70%;
        }
        @media (max-width: 1200px) {
          left: 75%;
        }
        @media (max-width: 1100px) {
          display: none;
        }

        i{
          font-size: 50px;
          cursor: pointer;
          color: #fff;
          position: relative;
          left: -250px;
          @media (max-width: 1400px) {
            left: -120px;
          }
          @media (max-width: 1280px) {
            left: -100px;
          }
          @media (max-width: 1200px) {
            left: -80px;
          }
          &:last-child{
            left: 290px;
            @media (max-width: 1400px) {
              left: 200px;
            }
            @media (max-width: 1280px) {
              left: 150px;
            }
            @media (max-width: 1200px) {
              left: 100px;
            }
          }
        }


        .slider-buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          .icons {
            margin-right: 10px;
            background: #fff;
            width: 14px;
            height: 14px;
            cursor: pointer;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:last-child{
              margin-right: 0;
            }
            .icon-item {
              border-radius: 50%;
              width: 7px;
              height: 7px;
              display: block;
              cursor: pointer;
              &.active{
                background: #42622F;
              }
            }
          }
        }

      }

    }


  }


}


//............  header-end


//.................. Cards

.cards {
  margin-top: 100px;
  @media (max-width: 767px) {
    margin-top: 60px;
  }

  .cards-container {

    //.......Description

    .cards-description{
      position: relative;
      padding-bottom: 60px;
      @media (max-width: 576px) {

      }
      .heading{
        text-align: center;
      }

      .title-blue{
        text-align: center;
      }

      .title-dekctop{
        @media (max-width: 576px) {
          display: none;
        }
      }

      .title-mobile{
        display: none;
        position: relative;
        @media (max-width: 576px) {
          display: block;
        }
      }

      .title-mobile.text:after{
        content: "";
        width: 100%;
        height: 50%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) -63.41%, #FFFFFF 100%);
      }

      #myBtn{
        display: none;
        color: #323232;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        background: none;
        position: relative;
        left: 50%;
        top: -20px;
        transform: translateX(-50%);
        margin-top: 1.5625rem;
        @media (max-width: 576px) {
          display: block;
        }
      }

      #more {display: none;}

    }

    // .......Description end

    .card{
      width: 100%;
      border-radius: 20px;
      background: #176B87;
      padding: 35px;
      margin-bottom: 25px;
      &:last-child{
        margin-bottom: 0;
      }
      &:hover{
        background: #1E87AA;
        transition: .3s;
      }
      @media (max-width: 576px) {
        padding: 20px;
      }
      .inner{
        display: flex;
        @media (max-width: 767px) {
          display: block;
        }
        .image{
          margin-right: 1.5625rem;
          @media (max-width: 576px) {
            margin-right: 0;
            width: 100%;
            img{
              object-fit: cover;
              width: 100%;
            }
          }
        }

        .description{
          @media (max-width: 576px) {
           margin-top: 20px;
          }
          h2{
            color: #FFF;
            font-size: 1.625rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            font-variant: all-small-caps;
          }

          p{
            color: rgba(255, 255, 255, 0.72);
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            max-width: 593px;
            width: 100%;
            margin-top: -3px;
            @media (max-width: 576px) {
              margin-top: 3px;
              max-width: 100%;
            }
          }

          .buttons{
            display: flex;
            align-items: center;
            margin-top: -5px;
            @media (max-width: 576px) {
              margin-top: 20px;
              display: block;
              width: 100%;
            }
            .btn-card{
              color: #176B87;
              background: #fff;
              margin-right: 20px;
              @media (max-width: 576px) {
                margin-right: 0;
                margin-bottom: 20px;
                display: block;
                width: 100%;
                &:last-child{
                  margin-bottom: 0;
                }
              }
              &:last-child{
                margin-right: 0;
              }
              &:hover{
                background: #b5e1ec;
              }
              img{
                margin-left: 10px;
              }
            }

          }

        }


      }

      .tree{
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: rgba(255, 255, 255, 0.72);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }


  }

}


//..............Cards end


/// ...............Calculator


.calculator{
    margin-top: 91px;
  @media (max-width: 767px) {
      margin-top: 73px;
  }
  .container-calculator{

    .heading{
      text-align: center;
      margin-bottom: 23px;
    }

  .calculator-background{
    border-radius: 1.25rem;
    background: #176B87;
    padding: 29px 23px;
    @media (max-width: 576px) {
      padding: 12px 10px;
    }
    .calculator-form{
      background: #fff;
      width: 100%;
      border-radius: 0.3125rem;
      border: 1px solid #176B87;
      padding: 1.25rem 0 4.375rem 0;
      @media (max-width: 767px) {
        padding: 1.25rem 0.625rem 1.875rem 0.625rem;
      }
      .calculator-title{
        padding: 0 110px;
        color: #000;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 1100px) {
          padding: 0 100px;
        }
        @media (max-width: 767px) {
          padding: 0 30px;
        }
        @media (max-width: 576px) {
          padding: 0 5px;
        }
        @media (max-width: 370px) {
          padding: 0;
        }
      }

      .inner{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1100px) {
          flex-direction: column-reverse;
          margin-top: 50px;
        }
        .form{
          margin-right: 75px;
          @media (max-width: 1100px) {
              margin-right: 0;
            margin-top: 40px;
          }
          @media (max-width: 576px) {
            width: 100%;
          }
          .input-box{
            margin-bottom: 21px;
            h5{
              color: #323232;
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin-bottom: 10px;
            }

            input{
              border-radius: 5px;
              border: 1px solid #176B87;
              width: 357px;
              padding: 10px;
              color: #333;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              &::placeholder{
                color: #DFDBDB;
              }
              @media (max-width: 576px) {
                width: 100%;
              }
            }
          }
          .buttons {
            @media (max-width: 576px) {
              width: 100%;
              display: block;
            }
            .btn-form{
              @media (max-width: 576px) {
                width: 100%;
              }
            }
          }
        }
        .image{
          @media (max-width: 767px) {
            width: 100%;
            img{
              width: 100%;
              object-fit: cover;
            }
          }
        }

      }
    }

  }

  }

}


// ............. Calculator End


//............ About .......

.about{
  margin-top: 65px;
  min-height: 50vh;
  position: relative;
  overflow-y: hidden;
  @media (max-width: 576px) {
    min-height: 100vh;
  }
  .image{
    height: 100%;
  }

  .about-info{
    max-width: 811px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
    padding: 52px 30px 0 50px;
    @media (max-width: 576px) {
      padding: 52px 20px 0 20px;
    }

    .heading{
      margin-bottom: 20px;
      @media (max-width: 576px) {
        text-align: center;
      }
    }

    .title-blue{
      margin-bottom: 20px;
      @media (max-width: 576px) {
        text-align: center;
      }
    }

    .buttons{
      @media (max-width: 576px) {
        width: 100%;
      }

      .btn-about{
        @media (max-width: 576px) {
          margin: 0 auto;
        }
      }
    }

  }


}

//........... About End.......


//  ............ OutWork......

  .outWork{
    margin-top: 43px;
    .outWork-container{

      .heading{
        text-align: center;
        margin-bottom: 40px;
      }


        .slider{

          .slick-track {
              display: flex;
            .slick-slide {
              width: 223px !important;
              height: 191px !important;
              border-radius: 20px !important;
              margin-right: 20px !important;
              cursor: pointer;
              @media (max-width: 767px) {
                margin-right: 10px !important;
              }
              &:last-child {
                margin-right: 0 !important;
              }

              img {
                width: 100% !important;
                border-radius: 20px !important;
                height: 100% !important;
                object-fit: cover !important;
              }

            }

          }

          .slick-dots{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            li{
              position: relative;
              display: inline-block;
              width: 14px;
              height: 14px;
              margin: 0 5px;
              padding: 0;
              background: rgba(23, 107, 135, 0.20);;
              border-radius: 50%;
              cursor: pointer;
              &.slick-active{
                background: #176B87;
              }
              button{
                font-size: 0;
                line-height: 0;
                display: block;
                width: 14px;
                height: 14px;
                padding: 5px;
                cursor: pointer;
                color: transparent;
                border: 0;
                outline: none;
                background: transparent;
                &:before{
                  opacity: .75;
                  color: #FF6900;
                }
              }
            }
          }

          .slick-dots li.slick-active button:before {
            opacity: .75 !important;
            color: #FF6900 !important;
          }


          .slick-prev{
            background-color: #176B87 !important;
            width: 60px !important;
            height: 60px !important;
            display: inline-block ;
            position: absolute !important;
            left: -30px!important;
            top: 50% !important;
            transform: translateY(-70%);
            border-radius: 50% !important;
            padding: 5px !important;
            z-index: 32;
            font-size: 0;
            &:before{
              content: '←';
              font-family: 'slick';
              font-size: 20px;
              line-height: 1;
              opacity: .75;
              color: white;
            }
            @media (max-width: 1200px) {
                left: -20px !important;
            }
            @media (max-width: 1024px) {
             left: -12px !important;
            }
            @media (max-width: 768px) {
             left: -10px !important;
            }
            @media (max-width: 425px) {
              left: 0 !important;
            }
          }

          .slick-next{
            background-color: #176B87 !important;
            width: 60px !important;
            height: 60px !important;
            display: inline-block ;
            position: absolute;
            top: 50% !important;
            transform: translateY(-70%);
            right: -30px;
            border-radius: 50% !important;
            padding: 5px !important;
            font-size: 0;
            &:before{
              content: '→';
              font-family: 'slick';
              font-size: 20px;
              line-height: 1;
              opacity: .75;
              color: white;
            }
            @media (max-width: 1200px) {
              right: -20px;
            }
            @media (max-width: 1024px) {
              right: -12px;
            }
            @media (max-width: 768px) {
              right: -10px;
            }
            @media (max-width: 425px) {
              right: 0;
            }
          }
        }



    }


  }


//............. OutWork end.......


// ............  Payment

.payment{
  margin-top: 150px;
  @media (max-width: 767px) {
    margin-top: 75px;
  }
  .container-payment{

    .heading{
      text-align: center;
    }

    .inner{
      display: flex;
      margin-top: 44px;
      @media (max-width: 767px) {
        display: block;
        margin-top: 20px;
      }

      .image{
        @media (max-width: 576px) {
          width: 100%;
        }
        img{
          @media (max-width: 576px) {
            width: 100%;
          }
        }
      }

      .payment-info{
        margin-left: 45px;
        margin-bottom: 20px;
        @media (max-width: 767px) {
          margin-left: 0;
          margin-top: 23px;
        }
        .title-blue{
          margin-bottom: 2rem;
        }

        .buttons{
          .btn-payment{
            img{
              margin-left: 10px;
            }
          }
        }
      }

    }

  }


}


//................ Payment End



//............ work-etaps

.work-etaps{
  margin-top: 108px;
    @media (max-width: 767px) {
        margin-top: 65px;
    }
  .work-etaps-container{

    .heading{
      text-align: center;
      margin-bottom: 62px;
    }
    .work-etaps-item-last{
      height: 1240px !important;
      @media (max-width: 1024px) {
        height: auto !important;
      }
    }

    .work-etaps-item{
      margin-bottom: 75px;
      width: 100%;
      height: 734px;
      border-radius: 20px;
      border: 1px solid #176B87;
      background: #FFF;
      padding: 58px 0 10px 0;
      position: relative;
      @media (max-width: 767px) {
          height: auto;
      }
      .logo{
        width: 170px;
        height: 94px;
        z-index: 1;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        text-align: center;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -48px;
      }
      .image{
        margin: 0 auto;
        width: 174px;
        img{
          width: 100%;
        }
      }

      h4{
        color: #323232;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-align: center;
        margin: 40px 0;
      }
      p{
        padding: 0 35px;
        color: #323232;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.2px;
        @media (max-width: 1024px) {
         padding: 0 15px;
        }
      }

    }

  }


}

//.............. work-etaps-end



//.............Calculation

.calculation{

  .container-calculation{

    .heading{
      text-align: center;
    }

    .subtitle{
      color: #323232;
      text-align: center;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }


  }


}

//................ End Calculation



// .......... map ///////////

.map{
  margin-top: 82px;

  @media (max-width: 767px) {
      margin-top: 75px;
  }
  .heading{
    text-align: center;
    margin-bottom: 41px;
  }

  .container-map {
    min-height: 70vh;
    position: relative;
    .contact {
      max-width: 747px;
      width: 100%;
      height: 100%;
      background: rgba(23, 107, 135, 0.70);
      backdrop-filter: blur(5px);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }

    .inner {
      .contacts-mobile {
        display: none;
      }

      .map-yandex {
        width: 100%;
        height: 100%;
      }
    }

  }
}


//........... map end//////