@import "helper";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(17, 13, 35, 1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2929;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

body {
  min-height: 100vh;
}


.trans {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}

.container{
  max-width: 1196px !important;
  width: 100% !important;
  margin: 0 auto !important;
}

.heading{
  color: #176B87;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title-blue{
  color: rgba(23, 107, 135, 0.80);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title-black{
  color: #323232;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}

.btn-blue{
  padding: 12px 35px;
  border-radius: 5px;
  background: #176B87;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background: #33b3dc;
  }
}



//..................... Menu............


.menu{
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 82px;
  border-radius: 0 0 30px 30px;
  background: rgba(0, 28, 48, 0.70);
  backdrop-filter: blur(5px);

  .menu-bar{
    max-width: 953px;
    width: 100%;
    padding: 10px 30px;
    margin: 0 auto;
    @media (max-width: 976px) {
      max-width: 100%;
    }
    @media (max-width: 767px) {
        max-width: 100%;
    }

    .menu-item{
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 767px) {
        display: none;
      }
      a{
        color: #FFF;
        white-space: nowrap;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-right: 5.625rem;
        &:hover{
         color: #FB9C2A;
          transition: .2s;
        }
        &:last-child{
          margin-right: 0;
        }

      }

    }

    .menu-mobile{
      position: relative;
      display: none;
      @media (max-width: 767px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      #menu-bars{
        color: #fff;
        cursor: pointer;
        &:hover{
          color: #FB9C2A;
          transition: .2s;
        }
        i{
          font-size: 30px;
        }

      }

    }

    .menu-item-mobile{
      display: none;
      @media (max-width: 767px) {
        display: initial;
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        backdrop-filter: blur(6px);
        background: rgba(255, 255, 255, 0.85);
        clip-path: polygon(0 86%, 0 100%, 8% 100%, 0% 100%);
        transition: .3s;
      }
      a{
        display: block;
        color: rgba(23, 107, 135, 0.80);
        text-align: center;
        margin: 15px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(23, 107, 135, 0.80);;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      &.active{
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
        transition: .3s;
      }
    }

  }

}

///.................. menu-end


////...............header ...........

header{

  .header-coontainer {
    position: relative;
    min-height: 80vh;

    .header-info{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      max-width: 730px;
      width: 100%;
      z-index: 5;
      background: rgba(255, 255, 255, 0.85);
      backdrop-filter: blur(3px);
      padding: 190px 50px 150px 122px;

      .title-blue{
        margin-top: 20px;
      }

      .contact-block{
        margin-top: 23px;

        div{
          color: #176B87;
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          cursor: pointer;
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
          i{
            font-size: 26px;
            margin-right: 12px;
          }
        }

      }

      .btn-blue{
        margin-top: 23px;
        img{
          margin-left: 10px;
        }
        &:hover{
          background: #33b3dc;
        }
      }
    }



    .header-image {
      display: flex;
      justify-content: end;

    }


  }


}


//............  header-end